.conteiner {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  position: relative;
}

.titleConteiner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;

}

.title {
  font-size: 18px;
  font-weight: 500;
  text-align: left;
  color: #ffffff;
  opacity: 0.7;
}

.year {
  display: flex;
  align-items: center;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  color: #ffffff;
  opacity: 0.7;
  border: 1px solid;
  height: fit-content;
  border: 1px solid #979797;
  border-radius: 4px;
  padding: 4px 8px;
}

.genres {
  text-align: left;
  font-size: 14px;
  font-weight: 500;
  color: #ffffff;
  opacity: 0.5;
  margin-top: 8px;
}

.burger {
  position: absolute;
  top: 12px;
  right: 12px;
}

.burgerMenu {
  position: absolute;
  top: 12px;
  right: 12px;
  width: 190px;
  background: #232323;
  z-index: 2;
  border-radius: 4px;
  padding: 28px 0 12px;
}

.burgerMenu p {
  color: #ffffff;
  text-align: left;
  padding: 12px 30px;
  margin: 0;
  font-size: 16px;
  font-weight: 500;

}

.burgerMenu p:hover {
  background: #F65261;
}