.conteiner {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(35, 35, 35, 0.9);
  overflow-y: scroll;
  padding: 100px 0;
  backdrop-filter: blur(12px);
  z-index: 2;
}